<Project>
  <!-- This is the default path, change this to your VS install folder -->
	<PropertyGroup>
		<VSPath>C:\Program Files (x86)\Steam\steamapps\common\Vampire Survivors</VSPath>
	</PropertyGroup>
</Project>
